body {
  color: #40514E;
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;
}

.top-container {
  padding-top: 100px;
  position: relative;
  background-color: #E4F9F5;
}

.intro {
  width: 30%;
  margin: auto;
}

h1 {
  font-size: 5.625rem;
  margin: 50px auto 50px auto;
  font-family: 'Sacramento', cursive;
  color: #66BFBF;
  line-height: 1;
}

h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  color: #66BFBF;
  font-weight: bold;
}

p {
  line-height: 2;
}

.toph2 {
  font-size: 1.25rem;
}

h3 {
  font-family: 'Montserrat', sans-serif;
  color: #11999E;
}

.imageone {
  width: 25%;
  float: left;
  margin-right: 30px;
}

.imagetwo {
  width: 25%;
  float: right;
  margin-left: 30px;
}

.skill-row {
  width: 50%;
  margin: 100px auto 100px auto;
  text-align: left;
  line-height: 2;
}

.skills {
  margin: 100px auto 100px auto;
}

.profile {
  margin: 100px auto 100px;
}

.top-cloud {
  position: absolute;
  right: 200px;
  top: 50px;
}

.bottom-cloud {
  position: absolute;
  left: 200px;
  bottom: 300px;
}

.bottom-container {
  background-color: #66BFBF;
  margin-bottom: 0;
  padding-top: 20px;
  padding-bottom: 1px;
}

.copyright {
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.contact-me {
  margin: 100px auto 100px;
}

span {
  text-decoration: underline;
}

hr {
  border-style: dotted none none none;
  width: 5%;
  border-color: #EAF6F6;
  border-width: 7px;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.contact-message {
  width: 30%;
  margin: 40px auto 60px;
}

a {
  color: #11999E;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #EAF6F6;
}
